*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}
.header{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 35px 12%;
	background: rgba(0,0,0,0.8);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.logo{
	font-size: 25px;
	color: blue;
	font-weight: 600;
	transition: 0.3s ease;
}
.logo:hover{
	color: blue;
	text-shadow: 0 0 25px blue,
				 0 0 50px blue;
	transform: scale(1.1);
}
span{
	color: blue;
}
.navbar a{
	font-size: 18px;
	color: red;
	font-weight: 500;
	margin: 0 20px;
	border-bottom: 3px solid transparent;
	transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
	color: white;
	border-bottom: 3px solid whitesmoke;
}
.contact{
	padding: 10px 28px;
	background-color: black;
	color: blue;
	border: 2px solid transparent;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	transition: 0.3s ease;
}
.contact:hover{
	background-color: white;
	box-shadow: 0 0 25px white;
	color: black;
}
.home{
	width: 100%;
	min-height: 100vh;
	background: pink;
	display: flex;
	align-items: center;
	gap: 7em;
	padding: 30px 12% 0;
}
.home-content{
	max-width: 800px;
}
.home-content h3{
	margin-top:100px;
	font-size: 42px;
}
.home-content h1{
	 
	font-size: 30px;
	line-height: 1.2;
}
.home-content p{
	font-size: 16px;
	margin: 25px 0 30px;
	
}

.img-box img{	
	border-radius: 50%;
	width: 350px;	
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-thumb{
	background-color: blue;
}
::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, 0.6);
	width: 50px;
}

.about-img img{
	margin-top: 10%;
	margin-bottom: 2%;
	border-radius: 50%;
	width: 350px;
	position: relative;
	box-shadow: 0 0 25px blue,
				0 0 50px blue;
}
.about-content{
	background-color: pink;
	margin-top: 10%;
	text-align: center;
}
.about-content p{
	color: black;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
   
}
.education-content{
	background-color: pink;
	margin-top: 10%;
	text-align: center;
}
.education-content p{
	color: black;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}
.education-content ul li{
	color: red;
	margin-top: 2%;
	padding: 5px;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}
.skills-img img{
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 1%;
	width: 550px;
	position: relative;
	box-shadow: 0 0 5px blue,
				0 0 10px blue;
}
.skills-img2 img{
	margin-top: 2%;
	margin-bottom: 10%;
	border-radius: 1%;
	width: 550px;
	position: relative;
	box-shadow: 0 0 5px blue,
				0 0 10px blue;
}
.skills-content{
	background-color: pink;
	margin-top: 10%;
	text-align: center;
}
.hobbies-content{
	background-color: pink;
	margin-top: 10%;
	text-align: center;
}
.hobbies-img img{
	margin-top: 5%;
	margin-bottom: 2%;
	border-radius: 1%;
	width: 550px;
	position: relative;
	box-shadow: 0 0 5px blue,
				0 0 10px blue;
}
.games-img img{
	margin-top: 5%;
	margin-bottom: 2%;
	border-radius: 1%;
	width: 550px;
	position: relative;
	box-shadow: 0 0 5px blue,
				0 0 10px blue;
}

.basket-content{
	background: pink;
	margin-top: 10%;
	text-align: center;
}
.basket-content p{
	color: black;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
}
.games-content{
	background: pink;
	margin-top: 10%;
	text-align: center;
}
.games-content p{
	color: black;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
}
.contact-form h2{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: 36px;
}
.contact-form form{
	max-width: 50em;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3em;
}
.contact-form form .input-box{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
	width: 100%;
	padding: 1.5em;
	font-size: 18px;
	color: black;
	background: rgb(421, 241, 241);
	border-radius: .8rem;
	margin: 1rem 0;
	resize: none;
}
.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
	background-color: gray;
}
.footer .social{
	text-align: center;
	padding-bottom: 25px;
	color: black;
}
.footer .social a{
	font-size: 24px;
	color: black;
	border: 2px solid blue;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	box-shadow: inset 0 0 10px blue, 0 0 10px blue;
	transition: 0.3 ease;
}
.footer .social a:hover{
	transform: scale(1.2)translateY(-10px);
	color: blueviolet;
	border: 2px solid blueviolet;
}
.footer ul{
	margin-top: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;
}
.footer ul li a{
	color: black;
	border-bottom: 3px solid transparent;
	transition: 0.3 ease;
}
.footer ul li a:hover{
	border-bottom: 3px solid orangered;
}
.footer ul li{
	display: inline-block;
	padding: 0 15px;
}
.footer .copyright{
	margin-top: 15px;
	text-align: center;
	font-size;
	color: black;
}






